<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>

  <div class="container">
    <div class="container">
      <div class="column">
        <div class="columns is-centered">

        </div>
      </div>


      <div class="container">
        <div class="column">
          <div class="columns is-centered">

          </div>
        </div>

        <div class="columns is-centered">
          <table class="table is-striped is-bordered">
            <tr>
              <th>Sıcaklık</th>
              <th>Nem</th>
              <th>Karbondioksit</th>
            </tr>
            <% data.forEach(function(degerler){ %>
            <tr>
              <td>
                <%= degerler.sicaklik %>
              </td>
              <td>
                <%= degerler.nem %>
              </td>
              <td>
                <%= degerler.karbondioksit %>
              </td>
            </tr>
            <% }); %>

          </table>
        </div>
      </div>
      <div class="modal" id="modalim">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="card" style="margin-top:50px">
            <header class="card-header ">
              <p class="card-header-title is-centered is-size-4	">
                Onay
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <p class="title is-5">Geri dönüşü olmamak üzere Silme işlemini onaylıyor musunuz ?</p>
                <br>
              </div>
            </div>
            <footer class="card-footer">
              <a id="onayButton" class="card-footer-item">Onayla</a>

              <a id="vazgec" class="card-footer-item">Vazgeç</a>
            </footer>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
</body>
<script>
  var close = document.getElementsByClassName('modal-close')[0];
  close.onclick = function () {
    modalim.style.display = 'none';
  }
  window.onclick = function (event) {
    if (event.target.className == 'modal-background') {
      modalim.style.display = 'none';
    }
  }
  function onay(adres) {
    modalim.style.display = 'block';
    var onayButton = document.getElementById('onayButton');
    onayButton.onclick = function () {
      location.href = adres;
    }
    var vazgec = document.getElementById('vazgec');
    vazgec.onclick = function () {
      location.href = '/';
    }
  }
</script>

</html>